# ************************************************************************************************
# Warning: YAML source code for Canvas Apps should only be used to review changes made within Power Apps Studio and for minor edits (Preview).
# Use the maker portal to create and edit your Power Apps.
# 
# The schema file for Canvas Apps is available at https://go.microsoft.com/fwlink/?linkid=2304907
# 
# For more information, visit https://go.microsoft.com/fwlink/?linkid=2292623
# ************************************************************************************************
Screens:
  Application Landing Screen:
    Children:
      - conMainContent_Body_LandingScreen:
          Control: GroupContainer@1.3.0
          Variant: AutoLayout
          Properties:
            DropShadow: =DropShadow.None
            Fill: =ColorValue(varTheme.neutralBackground2)
            Height: =Parent.Height - compHeaderCompound_LandingScreen.Height
            LayoutDirection: =LayoutDirection.Vertical
            LayoutGap: =10
            LayoutOverflowY: =LayoutOverflow.Scroll
            PaddingBottom: =20
            PaddingLeft: =62
            PaddingRight: =82
            PaddingTop: =20
            RadiusBottomLeft: =0
            RadiusBottomRight: =0
            RadiusTopLeft: =0
            RadiusTopRight: =0
            Width: =Parent.Width
            Y: =compHeaderCompound_LandingScreen.Y + compHeaderCompound_LandingScreen.Height
          Children:
            - conPageContent_LandingScreen:
                Control: GroupContainer@1.3.0
                Variant: AutoLayout
                Properties:
                  DropShadow: =DropShadow.None
                  Height: =Parent.Height
                  LayoutDirection: =LayoutDirection.Vertical
                  RadiusBottomLeft: =0
                  RadiusBottomRight: =0
                  RadiusTopLeft: =0
                  RadiusTopRight: =0
                  Width: =1204
                Children:
                  - conFilter_landingScreen:
                      Control: GroupContainer@1.3.0
                      Variant: AutoLayout
                      Properties:
                        DropShadow: =DropShadow.None
                        FillPortions: =0
                        Height: =cmbFilter_LandingScreen.Height
                        LayoutDirection: =LayoutDirection.Horizontal
                        LayoutGap: =16
                        RadiusBottomLeft: =0
                        RadiusBottomRight: =0
                        RadiusTopLeft: =0
                        RadiusTopRight: =0
                      Children:
                        - txtFilter_LandingScreen:
                            Control: Text@0.0.51
                            Properties:
                              Align: ='TextCanvas.Align'.End
                              AlignInContainer: =AlignInContainer.Center
                              Height: =Self.Size * 1.5
                              Text: ="Filter:"
                              VerticalAlign: =VerticalAlign.Middle
                              Weight: =varThemeFont.H3.weightBold
                              Width: =Parent.Width - Parent.PaddingLeft - Parent.PaddingRight - cmbFilter_LandingScreen.Width - conFilter_landingScreen.LayoutGap
                        - cmbFilter_LandingScreen:
                            Control: ComboBox@0.0.51
                            Properties:
                              AccessibleLabel: ="Select Hospital"
                              DefaultSelectedItems: =First(colFilter)
                              FontItalic: =
                              Items: =colFilter
                              Width: =280
                            Children:
                              - Name1:
                                  Control: ComboBoxDataField@1.5.0
                                  Variant: textualColumn
                                  IsLocked: true
                                  Properties:
                                    FieldDisplayName: ="Name"
                                    FieldName: ="Name"
                                    FieldType: ="s"
                                    Order: =2
                  - galFacility_LandingScreen:
                      Control: Gallery@2.15.0
                      Variant: VariableHeight
                      Properties:
                        AccessibleLabel: ="Facility Gallery"
                        FocusedBorderThickness: =0
                        Items: |-
                          =If(
                              IsBlank(cmbFilter_LandingScreen.Selected.Name) || cmbFilter_LandingScreen.Selected.Name = varAllFacilitiesValue,
                              Sort(shiftplanner_facilities, Name),
                              Sort(Filter(shiftplanner_facilities, Name = cmbFilter_LandingScreen.Selected.Name), Name)
                          )
                        TabIndex: =0
                        TemplateSize: =conFacility_LandingScreen.Height + conZone_LandingScreen.Height
                      Children:
                        - conZone_LandingScreen:
                            Control: GroupContainer@1.3.0
                            Variant: AutoLayout
                            Properties:
                              DropShadow: =DropShadow.None
                              Fill: =ColorValue(varTheme.neutralBackground2)
                              Height: |-
                                =//Parent.TemplateHeight
                                  galZone_LandingScreen.Height+conIcoFacilitySeparator_LandingScreen.Height + 40
                              LayoutDirection: =LayoutDirection.Vertical
                              RadiusBottomLeft: =0
                              RadiusBottomRight: =0
                              RadiusTopLeft: =0
                              RadiusTopRight: =0
                              Width: =Parent.TemplateWidth
                              Y: =conFacility_LandingScreen.Height
                            Children:
                              - galZone_LandingScreen:
                                  Control: Gallery@2.15.0
                                  Variant: BrowseLayout_Vertical_OneTextVariant_ver5.0
                                  Properties:
                                    AccessibleLabel: ="Zone Gallery"
                                    AlignInContainer: =AlignInContainer.SetByContainer
                                    FillPortions: =0
                                    FocusedBorderThickness: =0
                                    Height: |-
                                      =//(RoundUp(galZone_LandingScreen.AllItemsCount/4,0)*conGalZone_LandingScreen.Height)+(Self.TemplatePadding*RoundUp(galZone_LandingScreen.AllItemsCount/4,0)) +20
                                      With(
                                          {
                                              Rows: RoundUp(
                                                  galZone_LandingScreen.AllItemsCount / varZoneWrapCount,
                                                  0
                                              )
                                          },
                                          ((Rows * conGalZone_LandingScreen.Height) + (Rows * Self.TemplatePadding)) + 48//bottom Padding
                                      )
                                    Items: =Sort(Filter(shiftplanner_zones,ThisItem.shiftplanner_facility = Facility.shiftplanner_facility),Name)
                                    TabIndex: =0
                                    TemplatePadding: =20
                                    TemplateSize: =conGalZone_LandingScreen.Height
                                    Width: =Parent.Width
                                    WrapCount: =varZoneWrapCount
                                    Y: =
                                  Children:
                                    - conGalZone_LandingScreen:
                                        Control: GroupContainer@1.3.0
                                        Variant: AutoLayout
                                        Properties:
                                          Fill: =ColorValue(varTheme.neutralBackground1)
                                          Height: =100
                                          LayoutDirection: =LayoutDirection.Vertical
                                          LayoutGap: =4
                                          PaddingBottom: =16
                                          PaddingLeft: =20
                                          PaddingRight: =20
                                          PaddingTop: =16
                                          Width: =278
                                        Children:
                                          - txtZone_LandingScreen:
                                              Control: Text@0.0.51
                                              Properties:
                                                AutoHeight: =true
                                                FontColor: =App.Theme.Colors.Primary
                                                Height: =44
                                                Size: =varThemeFont.B2.size + 2
                                                Text: =ThisItem.Name
                                                VerticalAlign: =VerticalAlign.Top
                                                Weight: =varThemeFont.H3.weightBold
                                                Width: =Parent.Width - Parent.PaddingRight-Parent.PaddingLeft
                                          - txtNoOfStaff_LandingScreen:
                                              Control: Text@0.0.51
                                              Properties:
                                                Align: ='TextCanvas.Align'.Start
                                                FontColor: =ColorValue(varTheme.neutralForeground1)
                                                Height: =20
                                                Size: =//varThemeFont.H3.size
                                                Text: |-
                                                  = CountIf(
                                                            shiftplanner_useraffiliations,
                                                            Facility.shiftplanner_facility = ThisItem.Facility.shiftplanner_facility && Zone.shiftplanner_zone = ThisItem.shiftplanner_zone
                                                        )&" Staff"
                                                VerticalAlign: =VerticalAlign.Top
                                                Weight: =varThemeFont.H3.weight
                                                Width: =Parent.Width - Parent.PaddingRight-Parent.PaddingLeft
                                    - btnTransparent_LandingScreen:
                                        Control: Button@0.0.45
                                        Properties:
                                          AccessibleLabel: ="Button for viewing the full details"
                                          Appearance: ='ButtonCanvas.Appearance'.Transparent
                                          FontSize: =varThemeFont.H2.size
                                          FontWeight: =varThemeFont.H2.weight
                                          Height: =galZone_LandingScreen.TemplateHeight
                                          OnSelect: |-
                                            =Set(varSelectedZone, ThisItem);
                                            ClearCollect(colFilteredBookings, 
                                                Filter(
                                                    shiftplanner_shiftbookings, 
                                                    Zone.shiftplanner_zone = ThisItem.shiftplanner_zone 
                                                    //&& Status = 'Status (shiftplanner_shiftbookings)'.Active
                                                )
                                            );
                                            Navigate('Main Calendar Screen',ScreenTransition.Fade);
                                          Text: =""
                                          Width: =galZone_LandingScreen.TemplateWidth
                              - conIcoFacilitySeparator_LandingScreen:
                                  Control: GroupContainer@1.3.0
                                  Variant: AutoLayout
                                  Properties:
                                    DropShadow: =DropShadow.None
                                    FillPortions: =0
                                    Height: =icoFacilitySeparator_LandingScreen.Height
                                    LayoutDirection: =LayoutDirection.Vertical
                                    PaddingLeft: =20
                                    RadiusBottomLeft: =0
                                    RadiusBottomRight: =0
                                    RadiusTopLeft: =0
                                    RadiusTopRight: =0
                                  Children:
                                    - icoFacilitySeparator_LandingScreen:
                                        Control: Classic/Icon@2.5.0
                                        Properties:
                                          AccessibleLabel: =//customize the accesible label based in the icon
                                          BorderColor: =ColorValue(varTheme.neutralBackground3)
                                          Color: =ColorValue(varTheme.neutralBackground3)
                                          DisabledBorderColor: =ColorValue(varTheme.neutralStrokeDisabled)
                                          DisabledColor: =ColorValue(varTheme.neutralBackgroundDisabled)
                                          DisabledFill: =RGBA(0,0,0,0)
                                          DisplayMode: =DisplayMode.View
                                          Fill: =ColorValue(varTheme.neutralStroke2)
                                          FocusedBorderColor: =ColorValue(varTheme.neutralBackground3)
                                          Height: =2
                                          HoverBorderColor: =ColorValue(varTheme.neutralBackground3)
                                          HoverColor: =ColorValue(varTheme.neutralBackground3)
                                          HoverFill: =RGBA(0,0,0,0)
                                          Icon: =Icon.HorizontalLine
                                          PressedBorderColor: =App.Theme.Colors.Primary
                                          PressedColor: =App.Theme.Colors.Primary
                                          PressedFill: =RGBA(0,0,0,0)
                                          Width: =1200
                                          X: =20
                                          Y: =445
                        - conFacility_LandingScreen:
                            Control: GroupContainer@1.3.0
                            Variant: AutoLayout
                            Properties:
                              DropShadow: =DropShadow.None
                              Height: =txtFacility_LandingScreen.Height
                              LayoutDirection: =LayoutDirection.Vertical
                              PaddingLeft: =20
                              RadiusBottomLeft: =0
                              RadiusBottomRight: =0
                              RadiusTopLeft: =0
                              RadiusTopRight: =0
                              Width: =Parent.Width
                            Children:
                              - txtFacility_LandingScreen:
                                  Control: Text@0.0.51
                                  Properties:
                                    Height: =Self.Size * 1.5
                                    Size: =varThemeFont.H1.size
                                    Text: =ThisItem.Name
                                    VerticalAlign: =VerticalAlign.Top
                                    Weight: =varThemeFont.H1.weightBold
                                    Width: =Parent.Width - conFacility_LandingScreen.PaddingLeft
      - compHeaderCompound_LandingScreen:
          Control: CanvasComponent
          ComponentName: compHeaderCompound
          Properties:
            Fill: =App.Theme.Colors.Primary
            HeaderHeight: =51
            HeaderWidth: =1366
            Height: |-
              =compHeaderCompound_LandingScreen.HeaderHeight
              //varHeaderHeight
            IsMenuScreen: =false
            NavigateMenu: =
            NavigateScreen: =App.ActiveScreen
            Width: =compHeaderCompound_LandingScreen.HeaderWidth
